# Dépendances Node.js
node_modules/

# Variables d'environnement sensibles
.env

# Logs
*.log
npm-debug.log*

# Dossiers de build
dist/
build/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db